<div class="navbar navbar-expand-md navbar-dark sticky-top shadow" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/main">
      <img src="img/books.png" style="height:30px;width:auto">
      GitBook
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <form class="form-inline">
        <input class="form-control" style="width: 400px;" type="search" placeholder="Search" aria-label="Search">
      </form>
      <ul class="navbar-nav ml-auto font-weight-bold mr-5">
        <li class="nav-item active">
          <a class="nav-link cool-link" aria-label="Home" href="" [routerLink]="['/dashboard']"><i class="fas fa-home"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link cool-link" href="" [routerLink]="['/editor']"><i class="fas fa-laptop-code"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link cool-link" href="/chat"><i class="fas fa-comments"><span class="badge badge-danger badge-sm">8</span></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link cool-link" href="/find_cinema"><i class="fas fa-bell"><span class="badge badge-danger badge-sm">3</span></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link cool-link" href="" [routerLink]="['/profile']"><i class="fas fa-user"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>