<div class="navbar navbar-expand-md navbar-dark sticky-top shadow" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/main">
      <img src="img/logo4.png" style="height:60px;width:auto;margin-top:-5px">
      GitBook
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <form class="form-inline" (submit)="searchForTags()" method="post">
        <input class="form-control" style="width: 300px;" type="search" name="searchTags.tag"
          [(ngModel)]="searchTags.tag" placeholder="multithreading" aria-label="Search">
        <button type="submit" class="btn btn-secondary">Search</button>
      </form>
      <ul class="navbar-nav ml-auto font-weight-bold mr-5">
        <li class="nav-item active">
          <a class="nav-link cool-link" href="" [routerLink]="['/dashboard']"><i class="fas fa-home"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link cool-link" href="/chat"><i class="fas fa-comments"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link cool-link" href="/find_cinema"><i class="fas fa-bell"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link cool-link" href="" [routerLink]="['/dashboard/profile']"><i class="fas fa-user"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <router-outlet></router-outlet>