<div class="container">
    <div class="container col-md-9 col-lg-7 col-xs-12 border mt-5 shadow p-3 bg-light rounded">
        <h1 class="text-center">GitBook Logo</h1>
        <form (submit)="onSubmitLogin()" class="container col-8">
            <small class="text-danger d-block" *ngIf="err.error!=null">{{err.error}}</small>
            <div class="form-group">
                <input class="form-control" type="text" name="user.username" placeholder="Username" [(ngModel)]="user.username">
            </div>

            <div class="form-group">
                <input class="form-control" type="password" name="user.password" placeholder="Password" [(ngModel)]="user.password">
            </div>

            <button class="btn btn-primary form-control">Login</button>
            <p><a href="" [routerLink]="['/register']">Create an account</a></p>
        </form>
        <hr>
        <div class="text-center">
            <p class="m-0">Or sign in with:</p>
            <a href=""><i class="fab fa-github-square" style="font-size: 50px; color: #333"></i></a>
        </div>
    </div>
</div>