textarea {
    height: 70px;
    width: 100%;
    outline: none;
    padding: 5px;
    border: solid 1px #b6b6b6;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border: 1px solid #DDDDDD;
    margin: 5px 1px 3px 0px;


}

textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    height: 150px;
    border: 1px solid rgba(81, 203, 238, 1);

}


